@font-face {
    font-family: 'Poppins-Bold';
    src: url('assets/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('assets/fonts/Poppins-BoldItalic.ttf');
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('assets/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('assets/fonts/Poppins-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url('assets/fonts/Poppins-Italic.ttf');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('assets/fonts/Poppins-Regular.ttf');
}

:root {
    --primary-purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);

    --inputs-font-size: 32px;

    --font-bold: 'Poppins-Bold', sans-serif;
    --font-bold-italic: 'Poppins-BoldItalic', sans-serif;
    --font-extra-bold: 'Poppins-ExtraBold', sans-serif;
    --font-extra-bold-italic: 'Poppins-ExtraBoldItalic', sans-serif;
    --font-italic: 'Poppins-Italic', sans-serif;
    --font-regular: 'Poppins-Regular', sans-serif;
}

body, html{
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--off-white);
    flex-direction: column;
}

.main {
    background-color: var(--white);
    padding: 25px;
    border-radius: 15px 15px 150px 15px;
    width: 75%;
    /* max-width: 800px;  */
    height: auto; 
    box-sizing: border-box; 
}

.form_inputs_group_div {
    display: flex;
    justify-content: flex-start;
    gap: 0;
}

.form_input_div {
   width: 25%;
   margin-right: 10px;
}

.form_label {
    font-family: var(--font-bold);
    font-size: xx-small;
    color: var(--smokey-grey);
    letter-spacing: 2px;
}

.form_input_error {
    font-family: var(--font-italic);
    font-size: xx-small;
    color: var(--light-red);
}

.form_input {
    font-family: var(--font-bold);
    font-size: 1.5rem;
    width: 75%;
    padding: .4rem 0 .4rem 1rem;
    border-radius: 5px;
    border: 1px solid var(--light-grey);
    margin-top: .25rem;
}

.form_input:focus {
    border-color: var(--primary-purple);
    outline: none;
    caret-color: var(--primary-purple);
    cursor: pointer;
}

.form_button_div {
    display: flex;
    align-items: center;
}

.horizontal_line {
    border-bottom: 1px var(--light-grey) solid;
    width: 100%;
}

.form_submit_btn {
    border-radius: 50px;
    border: none;
    padding: 12px;
    background-color: var(--primary-purple);
}

.form_submit_btn:hover {
    background-color: black;
    cursor: pointer;
}

.result_div {
    font-family: var(--font-extra-bold-italic);
    font-size: 3rem;
    line-height: 1.25;
}

.result_span {
    color: var(--primary-purple)
}

.attribution {
    margin: 25px auto 0 auto;
    max-width: 75%;
    width: 100%;
    text-align: left;
    font-family: var(--font-regular);
}